@charset "utf-8";

//Any padding around section, which is first child of body
$section-padding: 0;

$primary: #7510f7;
$box-radius: 12px;

nav {
  padding: 1.2rem 0;
}

.avatar {
  margin: 2rem 0;
  width: 210px;
}

.__bio {
  padding: 9rem 1.5rem !important;
}

.__skill-icon {
  height: 48px !important;
  width: auto !important;
}

section.skills .box .content .columns .column {
  border-bottom: 0px solid #E6ECF8;
  border-right: 1px solid #E6ECF8;
  padding: 60px 35px;
}

.__spoilTop {
  margin-top: -14rem !important;
  padding: 5rem 1.5rem !important;
  padding-bottom: 9rem !important;
}

.section.is-long {
  padding-bottom: 16rem !important;
}

.section.skills .box {
  padding: 0 !important;
}

.section.skills .box .content .columns .column:last-child {
  border-right: none;
  border-bottom: none;
}

.hero-foot img.is-bottom {
  margin-bottom: -0.45rem;
  max-width: 860px;
}

@import "~bulma/bulma";