@charset "utf-8";

//Any padding around section, which is first child of body
$section-padding: 0;

$primary: #7510f7;
$box-radius: 12px;

nav {
  padding: 1.2rem 0;
}

.avatar {
  margin: 2rem 0;
  width: 210px;
}

.__bio {
  padding: 9rem 1.5rem !important;
}

.__skill-icon {
  height: 48px !important;
  width: auto !important;
}

section.skills .box .content .columns .column {
  border-bottom: 0px solid #E6ECF8;
  border-right: 1px solid #E6ECF8;
  padding: 60px 35px;
}

.__spoilTop {
  margin-top: -14rem !important;
  padding: 5rem 1.5rem !important;
  padding-bottom: 9rem !important;
}

.section.is-long {
  padding-bottom: 16rem !important;
}

.section.skills .box {
  padding: 0 !important;
}

.section.skills .box .content .columns .column:last-child {
  border-right: none;
  border-bottom: none;
}



@media screen and (min-width: 769px){
  .hero-foot img.is-bottom {
    margin-bottom: -0.45rem;
    max-width: 860px;
  }
}

.container.is-narrow {
  max-width: 1200px;
}

.projects .project-grid {
  padding: 2rem 0 4rem;
}

@media only screen and (min-width: 769px) {
  .projects .project-grid {
    padding-top: 4rem !important;
  }
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.projects .project-grid figure img.project-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.projects .project-grid figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.projects .project-grid .overlay, .projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}


.projects .project-grid .overlay {
  background-color: #141c3a;
}

.projects .project-grid figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  color: #fff;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .projects .project-grid figure figcaption {
    padding: 0rem 2rem;
  }
}

.projects .project-grid figure figcaption h1.title {
  color: #fff;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.projects .project-grid figure:hover .overlay, .projects .project-grid figure:hover figcaption {
  opacity: 1;
}

.projects .project-grid figure figcaption h1.title {
  color: #fff;
  margin-bottom: 1.8rem;
  font-weight: 400;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
  margin: 0 auto;
  font-size: 18px;
  padding: 1.2rem;
  font-weight: 400;
  border-width: 2px;
  color: #fff;
}

.has-border-top {
  border-top: 1px solid #E6ECF8;
}

section.clients {
  padding: 5rem 1.5rem !important;
}

.section.clients .client-grid {
  padding-top: 3rem;
}

.section.is-primary {
  background-color: #7510F7;
  color: #fff;
}
.section.is-long-ish {
  padding-bottom: 14rem !important;
}

@media screen and (min-width: 769px){
  .section.is-long-ish {
    padding-bottom: 13rem;
  }
}
@media screen and (min-width: 1216px){
  .section.is-long-ish {
    padding-bottom: 14rem;
  }
}

.section.is-primary .title {
  color: #fff;
}

.section.is-primary .subtitle {
  color: #fff;
}


.section.startups .startup-grid {
  margin-bottom: 18rem;
}

.section.pers-project {
    padding: 5rem 1.5rem;
}

.section.startups .startup-grid .box {
  padding: 40px;
}

.section.startups .startup-grid .box img.logo {
  height: 42px !important;
  width: auto;
  margin-bottom: 2rem;
}

.section p {
  margin-bottom: 2rem;
}

.section.startups .startup-grid .box p {
  font-size: 16px;
  margin-bottom: 2rem;
}


.section.startups .startup-grid .box a.link {
  font-weight: 400;
  font-size: 18px;
  border: none;
}

@media screen and (min-width: 1216px){
  .section.startups .startup-grid .box {
    padding: 60px 35px;
  }
}

@media screen and (min-width: 769px){
  .section.call-to-action .box {
    padding: 3.5rem 1.25rem;
  }
}

.section.call-to-action .box {
  padding: 3.5rem 2rem;
  margin-top: -9rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0
  rgba(0,0,0,0.2),0 0 0 1px #141c3a;
}

.section.call-to-action .title, .section.call-to-action p {
  color: #fff;
  margin-bottom: 0;
}

footer.section.is-small {
  padding: 0 1.5rem 4rem;
}

@media screen and (min-width: 769px){
  footer.section.is-small {
    padding: 1rem 1.5rem 4rem;
  }
}

footer .social-icons a.button {
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  margin: 0 .2rem;
  height: 47px;
  width: 47px;
  border: 2px solid
  rgba(255,255,255,0.3);
}


@media screen and (min-width: 769px){
  footer .social-icons a.button {
    margin: 0 0.8rem;
  }
}


footer .social-icons a.button.is-medium {
  font-size: 1.05rem;
}

@media screen and (min-width: 769px){
  footer .social-icons a.button.is-medium {
    font-size: 1.18rem;
  }
}

footer .social-icons a.button:hover {
  background: #fff;
  color: #7510F7;
  border: 2px solid #fff;
}

footer .social-icons a.button .icon.is-small {
  height: 0.8em;
  width: 0.8em;
}

.button .icon:first-child:last-child {
  margin-left: calc(-.5em - 1px);
  margin-right: calc(-.5em - 1px);
}

a, .button {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-weight: 400;
}

footer .title {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 2rem auto;
  max-width: 300px;
  opacity: 0.7;
}

@import "~bulma/bulma";