@charset "utf-8";

//Any padding around section, which is first child of body
$section-padding: 0;

$primary: #7510f7;
$box-radius: 12px;

nav {
  padding: 1.2rem 0;
}

.avatar {
  margin: 2rem 0;
  width: 210px;
}

.__bio {
  padding: 9rem 1.5rem !important;
}

.__skill-icon {
  height: 48px !important;
  width: auto !important;
}

section.skills .box .content .columns .column {
  border-bottom: 0px solid #E6ECF8;
  border-right: 1px solid #E6ECF8;
  padding: 60px 35px;
}

.__spoilTop {
  margin-top: -14rem !important;
  padding: 5rem 1.5rem !important;
  padding-bottom: 9rem !important;
}

.section.is-long {
  padding-bottom: 16rem !important;
}

.section.skills .box {
  padding: 0 !important;
}

.section.skills .box .content .columns .column:last-child {
  border-right: none;
  border-bottom: none;
}

.hero-foot img.is-bottom {
  margin-bottom: -0.45rem;
  max-width: 860px;
}

.container.is-narrow {
  max-width: 1200px;
}

.projects .project-grid {
  padding: 2rem 0 4rem;
}

@media only screen and (min-width: 769px) {
  .projects .project-grid {
    padding-top: 4rem !important;
  }
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.projects .project-grid figure img.project-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.projects .project-grid figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.projects .project-grid .overlay, .projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}


.projects .project-grid .overlay {
  background-color: #141c3a;
}

.projects .project-grid figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  color: #fff;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .projects .project-grid figure figcaption {
    padding: 0rem 2rem;
  }
}

.projects .project-grid figure figcaption h1.title {
  color: #fff;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.projects .project-grid figure:hover .overlay, .projects .project-grid figure:hover figcaption {
  opacity: 1;
}

.projects .project-grid figure figcaption h1.title {
  color: #fff;
  margin-bottom: 1.8rem;
  font-weight: 400;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
  margin: 0 auto;
  font-size: 18px;
  padding: 1.2rem;
  font-weight: 400;
  border-width: 2px;
  color: #fff;
}

.has-border-top {
  border-top: 1px solid #E6ECF8;
}

section.clients {
  padding: 5rem 1.5rem !important;
}

.section.clients .client-grid {
  padding-top: 3rem;
}
@import "~bulma/bulma";